# Ignore the models folder
models/*
mlruns/*
src/__pycache__/*

# Ignore machine learning and data science-related files
*.pkl      # Ignore pickle files
*.h5       # Ignore HDF5 files
*.joblib   # Ignore joblib files
*.pth      # Ignore PyTorch model files
*.ckpt     # Ignore TensorFlow checkpoint files
*.onnx     # Ignore ONNX model files
*.csv      # Ignore CSV files (data)
*.tsv      # Ignore TSV files (data)
*.xlsx     # Ignore Excel files (data)
*.npz      # Ignore NumPy save files
*.feather  # Ignore Feather files
*.parquet  # Ignore Parquet files
*.pickle   # Ignore other pickle files (not in models folder)
